# Binary
terraform-provider-emaildns

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Goreleaser
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
